{% extends 'base.html' %}

{% block content %}
    <h1 class="text-2xl font-bold text-center my-8">For You</h1>
    <div class="flex items-center justify-between space-x-4">
        <div class="flex items-center space-x-4">
            <h2 id="audio-title" class="text-xl font-bold">{{ audio_file.title }}</h2>
            <p id="audio-username" class="text-sm text-gray-600">
                By <a id="audio-user-link" href="{% url 'user_detail' audio_file.user.username %}" class="text-sm text-gray-600 hover:underline">{{ audio_file.user.username }}</a>
            </p>            
        </div>
        <div class="flex items-center space-x-4 ml-auto">
            <p id="audio-like-count">{{ audio_file.like_count }} Likes</p>
            {% if has_liked %}
                <button id="like-button" data-audio-id="{{ audio_file.id }}" data-action="like" class="text-red-500">
                    <i class="fas fa-heart"></i>
                </button>
            {% else %}
                <button id="like-button" data-audio-id="{{ audio_file.id }}" data-action="like" class="text-black-500">
                    <i class="fas fa-heart"></i>
                </button>
            {% endif %}
            <label>
                <input type="checkbox" id="autoplay-checkbox" {% if autoplay %}checked{% endif %}> Autoplay
            </label>
        </div>
    </div>

    <p id="audio-description">{{ audio_file.description }}</p>
    {% if audio_file %}
        <div class="flex items-center space-x-1">
            <button
                id="previous-button" 
                class="text-black p-2 rounded disabled:text-gray-400 disabled:cursor-not-allowed"
                {% if fyp_index <= 0 %}disabled{% endif %}
            >
                <i class="fas fa-step-backward"></i>
            </button>
            <audio controls id="audio-player" autoplay class="flex-1">
                <source id="audio-source" src="{{ audio_file.file.url }}" type="audio/mp4">
                Your browser does not support the audio element.
            </audio>
            <button 
                id="next-button" 
                class="text-black p-2 rounded disabled:text-gray-400 disabled:cursor-not-allowed" 
                {% if reached_end %}disabled{% endif %}
            >
                <i class="fas fa-step-forward"></i>
            </button>

        </div>
        <h2 class="text-xl font-bold">Comments</h2>
        <form id="comment-form" method="post" action="{% url 'for_you' %}">
            {% csrf_token %}
            {% for field in comment_form %}
                {{ field.errors }}
                {{ field }}
            {% endfor %}
            <div></div>
            <button type="submit" name="action" value="comment" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Comment</button>
        </form>
        <ul id="comments-list">
            {% for comment in comments %}
                <li><a href="{% url 'user_detail' comment.user.username %}" class="text-m text-black-600 hover:underline">{{ comment.user.username }}</a>: {{ comment.text }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No audio files available.</p>
    {% endif %}

    <script>
        function sendAudioRequest(action, method = 'GET', formData = null) {
            var xhr = new XMLHttpRequest();
            xhr.open(method, '{% url "for_you" %}?action=' + action, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            if (method === 'POST') {
                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            }
            xhr.onload = function () {
                if (xhr.status === 200) {
                    // so the the player doesn't reload everytime an action is performed
                    if (action == "next" || action == "previous") {
                        var audioPlayer = document.getElementById('audio-player');
                        audioPlayer.load();
                        if (document.getElementById('autoplay-checkbox').checked) {
                            audioPlayer.play();
                        }
                        document.getElementById('comment-form').reset();
                    }   
                    var data = JSON.parse(xhr.responseText);
                    document.getElementById('audio-title').textContent = data.title;
                    document.getElementById('audio-description').textContent = data.description;
                    document.getElementById('audio-like-count').textContent = data.like_count + ' Likes';
                    var userProfileLink = document.getElementById('audio-user-link');
                    userProfileLink.href = data.profile_url;
                    userProfileLink.textContent = data.username;
                    
                    document.getElementById('previous-button').disabled = data.fyp_index <= 0;
                    document.getElementById('next-button').disabled = data.reached_end;
                    if (data.reached_end) {
                        document.getElementById('autoplay-checkbox').checked = false;
                    }
                
                    var likeButton = document.getElementById('like-button');
                    if (data.has_liked) {
                        likeButton.classList.remove('text-black-500');
                        likeButton.classList.add('text-red-500');
                    } else {
                        likeButton.classList.remove('text-red-500');
                        likeButton.classList.add('text-black-500');
                    }
                    
                    var commentsList = document.getElementById('comments-list');
                    commentsList.innerHTML = '';
                    data.comments.forEach(function(comment) {
                        var li = document.createElement('li');

                        var userLink = document.createElement('a');
                        userLink.href = comment.profile_url;
                        userLink.className = 'text-m text-black-600 hover:underline';
                        userLink.textContent = comment.user;

                        li.appendChild(userLink);
                        li.appendChild(document.createTextNode(': ' + comment.text));

                        commentsList.appendChild(li);
                    });
                    
                }
            };
            xhr.send(formData);
        }
    
        document.getElementById('previous-button').addEventListener('click', function(event) {
            event.preventDefault();
            sendAudioRequest('previous');
        });
    
        document.getElementById('next-button').addEventListener('click', function(event) {
            event.preventDefault();
            sendAudioRequest('next');
        });
    
        document.getElementById('audio-player').addEventListener('ended', function() {
            if (document.getElementById('autoplay-checkbox').checked) {
                sendAudioRequest('next');
            }
        });
    
        document.getElementById('like-button').addEventListener('click', function(event) {
            event.preventDefault();
            var formData = new FormData();
            formData.append('action', 'like');
            sendAudioRequest('like', 'POST', formData);
        });
    
        document.getElementById('comment-form').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            formData.append('action', 'comment');
            sendAudioRequest('comment', 'POST', formData);
            document.getElementById('comment-form').reset();
        });
    
        document.getElementById('autoplay-checkbox').addEventListener('change', function() {
            var isChecked = this.checked;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '{% url "update_autoplay" %}?autoplay=' + isChecked, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.send();
        });
    </script>
{% endblock %}

