{% extends 'base.html' %}

{% block content %}
    <h1>{{ page_user.username }}</h1>
    <h2>{{ page_user.username }}'s Sounds</h2>
    <ul>
        {% for audio in audio_files %}
            <li>
                <a href="{% url 'audio_detail' audio.pk %}">{{ audio.title }}</a>
                <audio controls>
                    <source src="{{ audio.file.url }}" type="audio/mp4">
                    Your browser does not support the audio element.
                </audio>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'upload_audio' %}">Upload new sound</a>
{% endblock %}
